<div>
  <div class="card-body">
    <mat-card-title class="titulo">Registro</mat-card-title>
    <button mat-raised-button type="button" color="primary" (click)="regresar()" class="btn-container mt-3">
      <mat-icon>arrow_back</mat-icon>
      Regresar
    </button>
    <mat-card class="margenTarjeta">
      <mat-horizontal-stepper labelPosition="bottom" #stepper [linear]="isLinear">
        <mat-step [stepControl]="personaForm">
          <ng-template matStepLabel>Datos Personales</ng-template>
          <div class="row d-flex justify-content-center">
            <div class="col-sm-8">
              <form [formGroup]="personaForm">
                <div class="row">
                  <div class="col">
                    <mat-form-field appearance="standard">
                      <mat-label>Nombre</mat-label>
                      <input matInput formControlName="nombre">
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field appearance="standard">
                      <mat-label>Apellido</mat-label>
                      <input matInput formControlName="apellido">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <mat-form-field appearance="standard">
                      <mat-label>DPI</mat-label>
                      <input matInput type= "number" autocomplete="off" maxlength="13" formControlName="dpi">
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field appearance="standard">
                      <mat-label>Edad</mat-label>
                      <input matInput autocomplete="off" type= "number" maxlength="4" formControlName="edad">
                    </mat-form-field>
                  </div>

                </div>

                <div class="row">
                  <div class="col">
                    <mat-form-field appearance="standard">
                      <mat-label>Fecha de Nacimiento</mat-label>
                      <input #fechaIncidente matInput [matDatepicker]="fechaNacimiento"
                        formControlName="fechaNacimiento" readonly>
                      <mat-datepicker-toggle matSuffix [for]="fechaNacimiento">
                        <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
                      </mat-datepicker-toggle>
                      <mat-datepicker #fechaNacimiento></mat-datepicker>
                    </mat-form-field>

                  </div>
                  <div class="col">
                    <mat-form-field appearance="standard">
                      <mat-label>Género</mat-label>
                      <mat-select id="gen" formControlName="genero" required>
                        <mat-option *ngFor="let opcion of genero" [value]="opcion.value">
                          {{opcion.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                </div>

                <div class="row">
                  <div class="col">
                    <mat-form-field appearance="standard">
                      <mat-label>Pais</mat-label>
                      <mat-select formControlName="pais" required>
                        <mat-option *ngFor="let item of paises" [value]="item">
                          {{item.nombre}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                  </div>
                  <div class="col">
                    <mat-form-field appearance="standard">
                      <mat-label>Estado o región</mat-label>
                      <mat-select formControlName="estado" required>
                        <mat-option *ngFor="let item of estados" [value]="item">
                          {{item.nombre}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="row mt-1 pt-3">
            <div class="ml-auto ml-3">
              <button mat-raised-button color="warn" type="button" class="btn-container mr-2 mt-3" (click)="limpiar()">
                <mat-icon>clear</mat-icon>
                Cancelar
              </button>
              <button mat-raised-button type="button" color="primary" class="btn-container mt-3" matStepperNext>
                <mat-icon>arrow_forward</mat-icon>
                Siguiente
              </button>
            </div>
          </div>
        </mat-step>

        <!-- 2do stepper -->
        <mat-step [stepControl]="personaForm">
          <ng-template matStepLabel> Datos de contacto </ng-template>
          <div class="row d-flex justify-content-center">
            <div class="col-sm-8">
              <form [formGroup]="personaForm">
                <div class="row">
                  <div class="col">

                    <mat-form-field appearance="standard">
                      <mat-label>Correo</mat-label>
                      <input matInput type="email" autocomplete="off" formControlName="correo">
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field appearance="standard">
                      <mat-label>Teléfono</mat-label>
                      <input matInput type="number" autocomplete="off" maxlength="8" formControlName="telefono">
                    </mat-form-field>


                  </div>

                </div>
                <mat-form-field>
                  <mat-label>Dirección</mat-label>
                  <textarea matInput formControlName="direccion" #obs maxlength="200"></textarea>
                  <mat-hint align="end">{{obs.value.length}} / 200</mat-hint>
                </mat-form-field>


              </form>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="row mt-1 pt-3">
            <div class="ml-auto ml-3">
              <button mat-raised-button type="button" color="primary" class="btn-container mt-3 mr-2"
                matStepperPrevious>
                <mat-icon>arrow_back</mat-icon>
                Atras
              </button>
              <button mat-raised-button color="warn" type="button" class="btn-container mr-2 mt-3" (click)="limpiar()">
                <mat-icon>clear</mat-icon>
                Cancelar
              </button>
              <button mat-raised-button color="primary" type="button" [disabled]="personaForm.invalid"
                class="btn-container mr-2" data-dismiss="modal" (click)="guardar()">
                <mat-icon>
                  save
                </mat-icon>
                Guardar
              </button>
            </div>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-card>
  </div>


</div>